@import url('https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap');

.info-text {
    font-family: 'Noto Serif', serif;
    height: 600px;
    font-size: 17px;
    padding: 3px 0 0 20px;
    line-height: 1em;
}
.info-text span {
    font-style: italic;
}
.info-text hr {
    border: 0;
    height: 2px;
    width: 190px;
    margin-left: 0;
    background-color: #1A4780;
}