@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.page-width {
    width: 1100px;
    margin: 0 auto;
}
.white-theme {
    background-color: #D9D9D9;
    color: #2B2B2B;
    transition: .5s;
}
.black-theme {
    background-color: #2B2B2B;
    color: #D9D9D9;
    transition: .5s;
}

.header {
    height: 100vh;
}
.nav-bar {
    background-color: #1A4780;
    height: 10%;
    width: 100%;
    position: fixed;
}
.black-theme .nav-bar {
    color: #D9D9D9;
    transition: .5s;
}
.white-theme .nav-bar {
    color: #0A090B;
    transition: .5s;
}
.about {
    height: 90%;
    width: 100%
}
.title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90vh;
}
.title h1 {
    margin: 0;
    padding: 0;
    font-size: 60px;
    font-weight: 800;
    font-family: 'Poppins', sans-serif;
}
.title p {
    margin: 0;
    padding: 0;
    font-size: 25px;
    font-style: italic;
    font-weight: 800;
    color: #1A4780;
    font-family: 'Poppins', sans-serif;
}
.black-theme .information {
    background-color: #202020;
    color: #959595;
    transition: .5s;
}
.white-theme .information {
    background-color: #959595;
    color: #202020;
    transition: .5s;
}